<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="2">
        <tr>
            <th>Course id</th>
            <th>Course name</th>
            <th>Fees</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
        <% for(var i=0;i<coursedata.length;i++){%>
            <tr>
                <td><%=coursedata[i].cid%></td>
                <td><%=coursedata[i].cname%></td>
                <td><%=coursedata[i].fees%></td>
                <td><%=coursedata[i].duration%></td>
                <td>
                    <a href="deletecourse/<%=coursedata[i].cid%>">delete</a>
                    <a href="editcourse/<%=coursedata[i].cid%>">update</a>
                </td>
            </tr>    
        <%}%>
    </table>

    <form action="/addcourseform">
        <button type="submit" name="buttonadd" id="add" value="add">Add new course</button>
    </form>
    
</body>
</html>